<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>О нас</title>
    <link rel="stylesheet" href="/static/about_style.css">
</head>

<head th:insert="blocks\head :: head"></head>

<body class="d-flex flex-column h-100" style="background: url(&quot;/img/def/bg.jpg&quot;) top / cover;">

<header th:insert="blocks\header :: header" class="sticky-top" role="navigation"></header>

<hr class="clear">

<main class="container flex-shrink-0 bg-light">
    <div class="row">
        <div class="col-lg-12">
            <div class="pt-5 px-5 mx-auto">
                <center><h2>MultiLibrary</h2></center>
                <div class="row">
                    <div class="col-12" align="center">
                        <iframe width="75%" height="550" src="https://www.youtube.com/embed/DoP5iIrAZAE"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </div>
                    <div class="col-12" align="justify">
                        <p class="lead">
                            Кто мы?
                            <br>
                            Привет! Мы - MultiLibrary, интернет-магазин издательской группы Эксмо-АСТ. Наш магазин появился
                            в
                            2016 году и с тех пор продал столько же книг, сколько занимает территория Гибралтара. ;)
                            <br>
                            На наших полках книги всех значимых издательств: кроме «Эксмо» и «АСТ» это «Манн, Иванов и
                            Фербер», «Азбука», «Альпина», «Синдбад» и другие.
                            <br>
                            А среди издательских брендов, которые представлены в MultiLibrary есть: «БОМБОРА», «Corpus»,
                            «Mainstream», «Редакция Елены Шубиной», «Вилли-Винки», «Fanzon», «Комильфо» и «Канц-Эксмо».
                            И мы
                            постоянно пополняем эти списки.
                            <br>
                            Если вы представляете издательство и хотите попасть на MultiLibrary - напишите нам.
                            <br>
                            Что мы делаем?
                            <br>
                            Мы не просто продаём книги и канцтовары. MultiLibrary - часть издательства, а это значит, что
                            мы
                            гораздо ближе к процессу появления книг в ваших руках, чем обычный интернет-магазин.
                            <br>
                            Эта близость позволяет нам быть экспертами. Мы заранее знаем, когда выходят новинки и
                            получаем
                            их первыми.
                            <br>
                            Мы рассказываем о книгах в нашем блоге, нам дают рекомендации знаменитости, а наши подборки
                            составляют профессиональные редакторы.
                            <br>
                            Что отличает нас от других?
                            <br>
                            Новинки. MultiLibrary - первый интернет-магазин, где появляются свежие книжные хиты.
                            <br>
                            Автографы. У нас более 350 книг с автографами.
                            <br>
                            Доставка. Мы доставляем по всей России с помощью восьми сервисов.
                            <br>
                            Упаковка. Наши книги всегда доходят в отличном состоянии, спасибо надежной упаковке.
                            <br>
                            Кэшбэк. Для постоянных покупателей MultiLibrary - самое выгодное место в мире*.
                            <br>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="pt-5"></div>
</main>

<hr class="clear">



</body>

</html>
