<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head th:each="book : ${books}">
    <title th:text="'' + ${book.name}"></title>
    <link rel="stylesheet" href="/static/book_style.css">
</head>

<head th:insert="blocks\head :: head"></head>

<body class="d-flex flex-column h-100" style="background: url(&quot;/img/def/bg.jpg&quot;) top / cover;">

<header th:insert="blocks\header :: header" class="sticky-top" role="navigation"></header>

<hr class="clear">

<main class="container flex-shrink-0 bg-light">
    <div class="row" th:each="author : ${authors}">
        <div class="col-lg-12 my-3">
            <h1 th:text="${author.name}">Name</h1>
        </div>
        <div class="col-lg-4 mb-3">
            <img class="poster-book w-100" th:attr="src=${'/img/' + author.poster}">
            <div th:if="${userid or role == 'ADMIN'}" class="btn-group mt-3">
                <a th:href="'/author/' + ${author.id} + '/edit'" class="btn btn-success">Редактировать</a>
            </div>
            <div th:if="${userid or role == 'ADMIN'}" class="btn-group mt-3">
                <a th:href="'/author/' + ${author.id} + '/delete'" class="btn btn-danger">Удалить</a>
            </div>
            <div th:if="${role == 'ADMIN' or userid}" class="btn-group mt-3">
                <a th:href="'/book/add/' + ${author.id} + '/'" class="btn btn-primary">Добавить книгу</a>
            </div>
        </div>
        <div class="col-lg-8">
            <div>
                <div><b>Годы жизни: </b>
                    <span th:text="${author.birthday}"></span> -
                    <span th:text="${author.die}"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mt-3">
            <h4>Описание</h4>
            <p class="description text-break" th:text="${author.description}"></p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-3" th:each="book : ${books}">
            <div class="card mb-4 rounded-3 shadow-sm">
                <a class="book" th:href="'/book/' + ${book.id} + '/'">
                    <img class="book-photo mb-3" th:attr="src=${'/img/' + book.poster}" width="100%">
                    <h4 th:text="${book.name}" class="card-title pricing-card-title mx-3 text-break">Название</h4>
                </a>
                <ul class="list-unstyled mt-3 mb-3 mx-3">
                    <li>Жанр: <a th:text="${book.genre}" th:href="'/catalog/genre/' + ${book.genre}"></a></li>
                    <li>Дата: <a th:text="${book.year}" th:href="'/catalog/year/' + ${book.year}"></a></li>
                    <li th:if="${book.price}">Цена: <span th:text="${book.price}"></span> $</li>
                    <li th:unless="${book.price}">Бесплатно</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pt-5"></div>
</main>

<hr class="clear">

</body>

</html>
