<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head th:each="book : ${books}">
    <title th:text="'' + ${book.name}"></title>
    <link rel="stylesheet" href="/static/book_style.css">
</head>

<head th:insert="blocks\head :: head"></head>

<body class="d-flex flex-column h-100" style="background: url(&quot;/img/def/bg.jpg&quot;) top / cover;">

<header th:insert="blocks\header :: header" class="sticky-top" role="navigation"></header>

<hr class="clear">

<main class="container-lg flex-shrink-0 bg-light">
    <div class="row" th:each="book : ${books}">
        <div class="col-lg-12 my-3">
            <h1 th:text="${book.name}">Name</h1>
        </div>
        <div class="col-lg-4 mb-3">
            <img class="poster-book" th:attr="src=${'/img/' + book.poster}">
            <div th:unless="${buy} or ${cart} or ${role == 'ADMIN'} or ${userid}" class="btn-group mt-3">
                <form th:action="'/book/' + ${book.id} + '/add_cart'" method="post">
                    <button class="btn btn-success">Добавить в корзину</button>
                </form>
            </div>
            <div th:unless="${buy} or ${role == 'ADMIN'} or ${userid}" class="btn-group mt-3">
                <form th:action="'/book/' + ${book.id} + '/buy'" method="post">
                    <button class="btn btn-success">Купить</button>
                </form>
            </div>
            <div th:if="${buy}" class="btn-group mt-3">
                <p class="lead">Вы уже покупали этот товар</p>
            </div>
            <div th:if="${userid} or ${role == 'ADMIN'}" class="btn-group mt-3">
                <a th:href="'/book/' + ${book.id} + '/edit'" class="btn btn-success">Редактировать</a>
            </div>
            <div th:if="${userid} or ${role == 'ADMIN'}" class="btn-group mt-3">
                <a th:href="'/book/' + ${book.id} + '/delete'" class="btn btn-danger">Удалить</a>
            </div>
        </div>
        <div class="col-lg-8">
            <div>
                <div><b>Год выпуска: </b><a th:text="${book.year}" th:href="'/catalog/year/' + ${book.year}"></a></div>
                <div><b>Жанр: </b><span><a th:text="${book.genre}"
                                           th:href="'/catalog/genre/' + ${book.genre}"></a></span>
                </div>
                <div><b>Издатель: </b><span th:text="${book.pub}"></span></div>
                <div><b>Автор: </b><a th:href="'/author/' + ${book.authorid} + '/'"><span th:text="${book.author}"></span></a></div>
                <div><b>ISBN: </b><span th:text="${book.isbn}"></span></div>
                <div><b>Цена: </b><span th:text="${book.price}"></span> $</div>
                <div><b>Вес: </b><span th:text="${book.weight}"></span></div>
            </div>
        </div>
        <div class="col-lg-12 mt-3">
            <h4>Описание</h4>
            <p class="description text-break" th:text="${book.description}"></p>
        </div>
        <div class="col-lg-12 mt-3">
            <h4>Фотография</h4>
            <center>
                <div th:each="i : ${book.screenshots}">
                    <img class="poster-book my-2" th:attr="src=${'/img/' + i}">
                </div>
                <hr class="clear">
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mt-5" th:each="book : ${books}">
            <form th:action="'/book/' + ${book.id} + '/comment_add/'" method="post">
                <h4>Отзывы</h4>
                <div class="alert alert-success">
                    <input type="text" id="date" name="date" hidden readonly>
                    <textarea placeholder="Добавить отзыв..." class="form-control" name="comment" id="comment"
                              required></textarea>
                    <div class="btn-group mt-2">
                        <button class="btn btn-success" type="submit">Добавить отзыв</button>
                        <button class="btn btn-success" type="reset">Очистить</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-12" th:each="com : ${comments}">
            <div class="alert alert-secondary">
                <h5>
                    <span th:text="${com.username}">User-name</span>
                    <span>|</span>
                    <span th:text="${com.date}">Date</span>
                </h5>
                <hr>
                <p class="description text-break" th:text="${com.comment}">Comment</p>
            </div>
        </div>
    </div>
    <div class="pt-5"></div>
</main>

<script type="text/javascript" src="/static/book_script.js"></script>

<hr class="clear">



</body>

</html>
